/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "~bootstrap/scss/bootstrap";


input{
	min-width: 200px;
}

.list_input{
  max-width: 100px;
}

.back-btn{
	position: absolute;
	right: 70px;
}