@import "~bootstrap/scss/bootstrap";


input{
	min-width: 200px;
}

.list_input{
  max-width: 100px;
}

.back-btn{
	position: absolute;
	right: 70px;
}

.board{
  background-color: #accae4;
  height: 100px;

  &__text{
    text-align: center;
    line-height: 90px;

    font-size: 18px;
    color: #ffffff;
    font-family: monospace;
  }
}



/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
}
